<div class="home">      
    <div  ng-if="vm.carregando">        
        <div class="col-xs-2"></div>
        <img class="col-xs-8" src="../../assets/gif/loading.gif"/>
        <div class="col-xs-2"></div>
    </div>    
    <div class="pesquisa-invalida" ng-show="(vm.data.livros | filter:vm.data.pesquisarLivro).length == 0 && !vm.carregando"> 
        <img src="../assets/img/404-error-icon.png"/>
        <span class="titulo-pesquisa-invalida">Ops!</span>
        <span class="msg-pesquisa-invalida"> Nenhum livro encontrado. </span>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3" ng-repeat="livro in vm.data.livros | filter:vm.data.pesquisarLivro">        
        <div class="card">
            <span class="titulo">{{livro.titulo}}</span>
            <div class="produto">
                <img class="produto-img" ng-src="../../assets/img/{{livro.capa}}.png"/>
            </div>
            <div class="col-xs-12 card-footer">
                <div class="col-xs-6">
                    <span class="msg"> Por apenas </span>
                    <br/>
                    <span class="moeda">R$</span> <span class="preco">{{livro.preco | currency:""}}</span>
                    <br/>
                    <span class="tipo-pagamento">à Vista</span>
                </div>
                <div class="col-xs-6">
                    <button id="btn-adicionar-carrinho-{{$index}}" class="btn btn-success btn-carrinho" ng-click="vm.adicionarCarrinho(livro)"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                </div>
            </div>
        </div>  
    </div>            
</div>