<nav class="header"> 
    <div class="container">
        <div class="row">  
            <div class="logo">
                <a href="#" id="logo"></a>
            </div>
            <div class="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="O que você procura?"
                    ng-model="vm.data.pesquisarLivro" ng-model-options="{ debounce: 500 }">
                    <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-search"></i></span>
                </div>
            </div>  
            <div class="conta">
                <a href="#" id="user"></a>
                <p> Olá!  <br/> <span> entre ou cadastre-se </span> </p>                                
            </div> 
            <div class="carrinho" ng-click="vm.goCarrinho()">
                <a id="carrinho"></a>
                <span class="quantidade">{{vm.carrinhoContador() ? vm.carrinhoContador() : 0}}</span>
            </div>
        </div>
    </div>
</nav>